{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container py-5">
        <h1>Inserir Escola</h1>
        <button type="button" class="btn btn-light btn" data-toggle="modal" data-target="#delete_sala">Remover Escola</button> <br><br>

        <form method="POST" action="{% url 'escola' %}">
        {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nome" name="Nome">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Agrupamento" name="Agrupamento">
            </div>
            <div class="form-group">
            <input type="text" class="form-control" placeholder="Localização" name="Localizacao">
            </div>
            <button type="submit" class="btn btn-secondary">Inserir</button>
        </form>

         <!-- PopUp Remover Sala -->
        <div id="delete_sala" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Conteudo-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                Remover Escola
              </h4>
            </div>
            <div class="modal-body"> 
              <div class="form-group">
                  <form method="POST" action="{% url 'delete_escola' %}">
                    {% csrf_token %}   
                    <div class="form-group">
                        <select name="ID_Escola_FK" id="ID_Escola_FK">
                          {% for key, value in escolas_join.items %}
                            <option value="{{ key }}">{{ value }}</option>
                          {% endfor %}
                        </select>           
                    </div>         
            </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Eliminar</button></form>  
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
    </div>

        {% include "includes/footer.html" %}
    </div>
{% endblock %}