{% load static %}
{% include 'includes/navigation-fullscreen.html' %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sobre Nós</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/assets/css/theme2.css' %}">
    <link rel="stylesheet" href="{% static 'css/assets/css/loopple/loopple2.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/logopap.png' %}">
</head>

<body class="null">
    <br><br><br>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center pb-5">
                    <div class="icon icon-shape text-center mb-3">
                        <svg class="text-info" width="40px" height="40px" viewBox="0 0 46 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>customer-support</title>
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-1717.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                    <g transform="translate(1716.000000, 291.000000)">
                                        <g transform="translate(1.000000, 0.000000)">
                                            <path class="color-background" d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z" opacity="0.59858631"></path>
                                            <path class="color-foreground" d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"></path>
                                            <path class="color-foreground" d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <h3>Sobre nós</h3>
                    <p class="lead">Um pouco sobre a equipa por trás de SmartNet </p>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card card-plain text-center">
                            <a href="javascript:;">
                                <img class="img-fluid rounded" src="https://loopple.s3.eu-west-3.amazonaws.com/images/hJkAALES2BvpOOC0paMmyVnCgGhch85QUnjVCe98.jpg">
                            </a>
            
                            <div class="card-body">
                                <h4 class="card-title">Daniel Barreto</h4>
                                <h6 class="category text-info text-gradient">Full-Stack Developer</h6>
                                <p class="card-description">
                                    "Sou um apaixonado pela programação, e aspiro tornar-me num programador full-time e trabalhar remotamente."
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain text-center">
                            <a href="javascript:;">
                                <img class="img-fluid rounded" src="https://loopple.s3.eu-west-3.amazonaws.com/images/7I6o2neZmeaVx1rMzVTZeEmNTMOQyXS3ZUhJeHZl.jpg">
                            </a>
            
                            <div class="card-body">
                                <h4 class="card-title">Volodymyr Chernikov</h4>
                                <h6 class="category text-info text-gradient">Full-Stack Developer</h6>
                                <p class="card-description">
                                    "Acredito que através da programação, sou capaz de alcançar os meus objetivos de vida, com devido empenho e dedicação!"
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/footer-fullscreen.html' %}

    </section>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/soft-design-system.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/plugins/countup.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/plugins/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/plugins/typedjs.js"></script>
    <script>
        if (document.getElementById("state1")) {
                    const countUp = new CountUp("state1", document.getElementById("state1").getAttribute("countTo"));
                    if (!countUp.error) {
                      countUp.start();
                    } else {
                      console.error(countUp.error);
                    }
                  }
                  if (document.getElementById("state2")) {
                    const countUp1 = new CountUp("state2", document.getElementById("state2").getAttribute("countTo"));
                    if (!countUp1.error) {
                      countUp1.start();
                    } else {
                      console.error(countUp1.error);
                    }
                  }
                  if (document.getElementById("state3")) {
                    const countUp2 = new CountUp("state3", document.getElementById("state3").getAttribute("countTo"));
                    if (!countUp2.error) {
                      countUp2.start();
                    } else {
                      console.error(countUp2.error);
                    };
                  }
        
         if (document.querySelector('.datepicker-1')) {
              flatpickr('.datepicker-1', {
              }); // flatpickr
            } 
        
         if (document.querySelector('.datepicker-2')) {
              flatpickr('.datepicker-2', {
              }); // flatpickr
            }
        if (document.getElementById("typed")) {
            var typed = new Typed("#typed", {
              stringsElement: "#typed-strings",
              typeSpeed: 70,
              backSpeed: 50,
              backDelay: 200,
              startDelay: 500,
              loop: true
            });
          }
    </script>
    <script src="./assets/js/loopple/loopple2.js"></script>
</body>