<!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-4 mx-auto text-center">
            <a href="/sobre_nos" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
              Sobre Nós
            </a>
            <a href="/index" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
              SmartNet
            </a>
          </div>
          <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
            <a href="https://twitter.com/SmartNet144736" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-lg fab fa-twitter"></span>
            </a>
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-lg fab fa-instagram"></span>
            </a>
            <a href="https://youtube.com/@SmartNet-sb6sp?si=UV948YO0p1MucEnd" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-lg fab fa-youtube"></span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-8 mx-auto text-center mt-1">
            <p class="mb-0 text-secondary">
              &copy; <a href="/index" class="text-muted">SmartNet</a> - Daniel Barreto e Volodymyr Chernikov
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->