<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha a sua escola</title>
</head>
<body>
    <h3>Escolha a sua escola</h3>
    <form action="{% url 'signup' %}" method="GET">
        <label for="school">Escolhe a escola:</label>
        <select id="school" name="escola_id">
            {% for escola in escolas %}
                <option value="{{ escola.ID_Escola }}">{{ escola.Nome }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submeter</button>
    </form>    
</body>
</html>
